argcomplete==1.12.3
backcall==0.2.0
boto3==1.20.17
botocore==1.23.17
certifi==2021.10.8
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.0
entrypoints==0.3
fonttools==4.28.3
importlib-metadata==4.8.2
ipykernel==6.6.0
ipython==7.31.1
jedi==0.18.1
jmespath==0.10.0
jupyter-client==7.1.0
jupyter-core==4.9.1
kiwisolver==1.3.2
matplotlib==3.5.0
matplotlib-inline==0.1.3
nest-asyncio==1.5.4
numpy==1.21.4
opencv-python==4.5.4.60
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
prompt-toolkit==3.0.23
ptyprocess==0.7.0
Pygments==2.10.0
pyparsing==3.0.6
python-dateutil==2.8.2
pyzmq==22.3.0
s3transfer==0.5.0
setuptools-scm==6.3.2
six==1.16.0
-e git+https://github.com/bertwagner/nyt_print_crossword_checker.git@8884df485d5720092cae30ba3cdc1938a5b97d83#egg=src&subdirectory=ml_model
tomli==1.2.2
tornado==6.1
traitlets==5.1.1
typing_extensions==4.0.1
urllib3==1.26.7
wcwidth==0.2.5
zipp==3.6.0
