# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# tf lock files
*.terraform.lock*

# .tfvars, which usually contain contain sensitive data
*.tfvars

# temporary swap files
*.swp

# zip files of packaged code
*.zip

# data
ml_model/data/processed/*
!ml_model/data/processed/.gitkeep
ml_model/data/raw/*
!ml_model/data/raw/.gitkeep

# pycache
__pycache__
*egg-info*