# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# tf lock files
*.terraform.lock*

# .tfvars, which usually contain contain sensitive data
*.tfvars

# temporary swap files
*.swp
